@import "common/var";

@font-face {
  font-family: 'boycot-icons';
  src: url("./fonts/boycot-icons.eot") format('embedded-opentype'), /* IE6-IE8 */
  url("./fonts/boycot-icons.ttf") format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("./fonts/boycot-icons.svg") format('svg'), /* iOS 4.1- */
  url("./fonts/boycot-icons.woff") format('woff');/* chrome, firefox */
  font-weight: normal;
  font-style: normal;
}

[class^="byt-icon-"], [class*=" byt-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'boycot-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.byt-icon-info:before { content: "\e653"; }
.byt-icon-home:before { content: "\e64f"; }
.byt-icon-user:before { content: "\e658"; }

.byt-icon-error:before { content: "\e641"; }

.byt-icon-success:before { content: "\e654"; }

.byt-icon-warning:before { content: "\e653"; }

.byt-icon-question:before { content: "\e634"; }

.byt-icon-back:before { content: "\e606"; }

.byt-icon-arrow-left:before { content: "\e660"; }

.byt-icon-arrow-down:before { content: "\e65e"; }

.byt-icon-arrow-right:before { content: "\e727"; }

.byt-icon-arrow-up:before { content: "\e65d"; }

.byt-icon-caret-left:before { content: "\e60a"; }

.byt-icon-caret-bottom:before { content: "\e60b"; }

.byt-icon-caret-top:before { content: "\e60c"; }

.byt-icon-caret-right:before { content: "\e60e"; }

.byt-icon-d-arrow-left:before { content: "\e610"; }

.byt-icon-d-arrow-right:before { content: "\e613"; }

.byt-icon-minus:before { content: "\e621"; }

.byt-icon-plus:before { content: "\e62b"; }

.byt-icon-remove:before { content: "\e635"; }

.byt-icon-circle-plus:before { content: "\e601"; }

.byt-icon-remove-outline:before { content: "\e63c"; }

.byt-icon-circle-plus-outline:before { content: "\e602"; }

.byt-icon-close:before { content: "\e641"; }

.byt-icon-check:before { content: "\e611"; }

.byt-icon-circle-close:before { content: "\e641"; }

.byt-icon-circle-check:before { content: "\e6a9"; }

.byt-icon-circle-close-outline:before { content: "\e609"; }

.byt-icon-circle-check-outline:before { content: "\e63e"; }

.byt-icon-zoom-out:before { content: "\e645"; }

.byt-icon-zoom-in:before { content: "\e641"; }

.byt-icon-d-caret:before { content: "\e615"; }

.byt-icon-sort:before { content: "\e640"; }

.byt-icon-sort-down:before { content: "\e630"; }

.byt-icon-sort-up:before { content: "\e631"; }

.byt-icon-tickets:before { content: "\e65a"; }

.byt-icon-document:before { content: "\e630"; }

.byt-icon-goods:before { content: "\e6f5"; }

.byt-icon-sold-out:before { content: "\e63b"; }

.byt-icon-news:before { content: "\e667"; }

.byt-icon-message:before { content: "\e656"; }

.byt-icon-date:before { content: "\e608"; }

.byt-icon-printer:before { content: "\e62f"; }

.byt-icon-time:before { content: "\e67c"; }

.byt-icon-bell:before { content: "\e648"; }

.byt-icon-mobile-phone:before { content: "\e624"; }

.byt-icon-service:before { content: "\e63a"; }

.byt-icon-view:before { content: "\e643"; }

.byt-icon-menu:before { content: "\e655"; }

.byt-icon-more:before { content: "\e68e"; }

.byt-icon-more-outline:before { content: "\e68e"; }

.byt-icon-star-on:before { content: "\e684"; }

.byt-icon-star-off:before { content: "\e643"; }

.byt-icon-location:before { content: "\e611"; }

.byt-icon-location-outline:before { content: "\e64e"; }

.byt-icon-phone:before { content: "\e627"; }

.byt-icon-phone-outline:before { content: "\e628"; }

.byt-icon-picture:before { content: "\e629"; }

.byt-icon-picture-outline:before { content: "\e62a"; }

.byt-icon-delete:before { content: "\e645"; }

.byt-icon-search:before { content: "\e651"; }

.byt-icon-edit:before { content: "\e662"; }

.byt-icon-edit-outline:before { content: "\e662"; }

.byt-icon-rank:before { content: "\e632"; }

.byt-icon-refresh:before { content: "\e650"; }

.byt-icon-share:before { content: "\e666"; }

.byt-icon-setting:before { content: "\e64b"; }

.byt-icon-upload:before { content: "\e64a"; }

.byt-icon-upload2:before { content: "\e644"; }

.byt-icon-download:before { content: "\e65b"; }

.byt-icon-loading:before { content: "\e650"; }

.byt-icon-loading {
  animation: rotating 2s linear infinite;
}

.byt-icon--right {
  margin-left: 5px;
}
.byt-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
