@import "common/var";

@font-face {
  font-family: 'boycot-icons';
  src: url("./fonts/boycot-icons.eot") format('embedded-opentype'), /* IE6-IE8 */
  url("./fonts/boycot-icons.ttf") format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("./fonts/boycot-icons.svg") format('svg'), /* iOS 4.1- */
  url("./fonts/boycot-icons.woff") format('woff');/* chrome, firefox */
  font-weight: normal;
  font-style: normal;
}

[class^="byt-icon-"], [class*=" byt-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'boycot-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.byt-icon-appreciate:before { content: "\e644"; }
.byt-icon-check_fill:before { content: "\e659"; }
.byt-icon-time:before { content: "\e669"; }
.byt-icon-deliver:before { content: "\e671"; }
.byt-icon-pay:before { content: "\e673"; }
.byt-icon-send:before { content: "\e675"; }
.byt-icon-ticket:before { content: "\e677"; }
.byt-icon-list:before { content: "\e682"; }
.byt-icon-question_fill:before { content: "\e690"; }
.byt-icon-question:before { content: "\e691"; }
.byt-icon-pic:before { content: "\e69b"; }
.byt-icon-weibo:before { content: "\e6c4"; }
.byt-icon-round:before { content: "\e6d7"; }
.byt-icon-round_add_fill:before { content: "\e6d8"; }
.byt-icon-round_add:before { content: "\e6d9"; }
.byt-icon-add:before { content: "\e6da"; }
.byt-icon-share:before { content: "\e6f3"; }
.byt-icon-ViewGallery:before { content: "\e6b4"; }
.byt-icon-cart:before { content: "\e63f"; }
.byt-icon-shouji:before { content: "\e6d5"; }
.byt-icon-close:before { content: "\e641"; }
.byt-icon-ercode:before { content: "\e642"; }
.byt-icon-star:before { content: "\e643"; }
.byt-icon-delete:before { content: "\e645"; }
.byt-icon-link:before { content: "\e646"; }
.byt-icon-bell:before { content: "\e648"; }
.byt-icon-scan:before { content: "\e649"; }
.byt-icon-upload:before { content: "\e64a"; }
.byt-icon-setting:before { content: "\e64b"; }
.byt-icon-sound:before { content: "\e64c"; }
.byt-icon-wait:before { content: "\e64d"; }
.byt-icon-addr:before { content: "\e64e"; }
.byt-icon-home:before { content: "\e64f"; }
.byt-icon-search:before { content: "\e651"; }
.byt-icon-tips:before { content: "\e653"; }
.byt-icon-order:before { content: "\e655"; }
.byt-icon-msg:before { content: "\e656"; }
.byt-icon-red_pack:before { content: "\e657"; }
.byt-icon-discount:before { content: "\e65a"; }
.byt-icon-download:before { content: "\e65b"; }
.byt-icon-pulldown:before { content: "\e65c"; }
.byt-icon-up:before { content: "\e65d"; }
.byt-icon-down:before { content: "\e65e"; }
.byt-icon-right:before { content: "\e65f"; }
.byt-icon-left:before { content: "\e660"; }
.byt-icon-eyes:before { content: "\e661"; }
.byt-icon-feedback:before { content: "\e662"; }
.byt-icon-camera:before { content: "\e663"; }
.byt-icon-yes:before { content: "\e664"; }
.byt-icon-msgs:before { content: "\e665"; }
.byt-icon-save:before { content: "\e666"; }
.byt-icon-new:before { content: "\e667"; }
.byt-icon-rest_time:before { content: "\e67c"; }
.byt-icon-days:before { content: "\e67d"; }
.byt-icon-free:before { content: "\e67e"; }
.byt-icon-star_fill:before { content: "\e684"; }
.byt-icon-gift:before { content: "\e685"; }
.byt-icon-record:before { content: "\e687"; }
.byt-icon-user:before { content: "\e658"; }
.byt-icon-point:before { content: "\e6a9"; }
.byt-icon-phone:before { content: "\e626"; }
.byt-icon-cart_border:before { content: "\e62d"; }
.byt-icon-phone_fill:before { content: "\e630"; }
.byt-icon-shop:before { content: "\e6f5"; }
.byt-icon-serve:before { content: "\e625"; }
.byt-icon-pause:before { content: "\e629"; }
.byt-icon-commit:before { content: "\e647"; }
.byt-icon-edit:before { content: "\e650"; }
.byt-icon-refresh:before { content: "\e66a"; }

.byt-icon--right {
  margin-left: 5px;
}
.byt-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
